nvidia-xconfig-*.tar.bz2
/nvidia-xconfig-440.59.tar.gz
/nvidia-xconfig-465.24.02.tar.gz
/nvidia-xconfig-465.27.tar.gz
/nvidia-xconfig-495.46.tar.gz
/nvidia-xconfig-510.39.01.tar.gz
/nvidia-xconfig-510.47.03.tar.gz
/nvidia-xconfig-510.54.tar.gz
/nvidia-xconfig-510.60.02.tar.gz
/nvidia-xconfig-510.68.02.tar.gz
/nvidia-xconfig-515.43.04.tar.gz
/nvidia-xconfig-515.48.07.tar.gz
